button {
    background-color: #4CAF50; /* verde */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049; /* verde más oscuro */
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 60%;
}

th, td {
    padding: 10px;
    text-align: center;
}
